@media(max-width:992px){

}

@media(max-width:768px){

}

@media(max-width:576px){

}




@media(max-width:992px){

.about-grid{

grid-template-columns:1fr;

}

.section-heading h2{

font-size:42px;

}

}

@media(max-width:768px){

.about-cards{

grid-template-columns:1fr;

}

.section-heading h2{

font-size:34px;

}

.about-content p{

font-size:18px;

}

}



@media(max-width:992px){

.skills-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.skills-grid{

grid-template-columns:1fr;

}

}


@media(max-width:992px){

.projects-grid{

grid-template-columns:1fr;

}

}


@media(max-width:768px){

.timeline{

padding-left:25px;

}

.timeline-dot{

left:-35px;

}

}



@media(max-width:992px){

.contact-wrapper{

grid-template-columns:1fr;

}

}