*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Inter',sans-serif;

background:var(--bg);

color:var(--text);

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:'Space Grotesk',sans-serif;

}

.container{

width:min(92%,var(--container));

margin:auto;

}






/*new css*/

.bg-grid{

position:fixed;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.03) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.03) 1px,transparent 1px);

background-size:60px 60px;

z-index:-5;

}

.gradient{

position:fixed;

border-radius:50%;

filter:blur(120px);

z-index:-4;

animation:float 12s ease-in-out infinite;

}

.gradient-1{

width:500px;

height:500px;

background:#2563eb;

left:-200px;

top:-120px;

opacity:.25;

}

.gradient-2{

width:420px;

height:420px;

background:#7c3aed;

right:-150px;

bottom:-150px;

opacity:.18;

}

.header{

position:fixed;

top:0;

left:0;

width:100%;

height:var(--header-height);

display:flex;

align-items:center;

background:rgba(5,8,22,.55);

backdrop-filter:blur(var(--blur));

border-bottom:1px solid var(--glass-border);

z-index:999;

}


.navbar{

display:flex;

justify-content:space-between;

align-items:center;

height:100%;

}

.logo{

text-decoration:none;

display:flex;

gap:8px;

font-family:'Space Grotesk';

font-size:28px;

font-weight:700;

color:white;

}

.logo span:last-child{

color:var(--primary);

}

.nav-links{

display:flex;

gap:45px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

font-weight:500;

transition:.35s;

position:relative;

}

.nav-links a::after{

content:'';

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:var(--primary);

transition:.35s;

}

.nav-links a:hover::after{

width:100%;

}

.nav-links a:hover{

color:var(--primary);

}


.resume-btn{

padding:14px 26px;

background:var(--primary-gradient);

border-radius:50px;

text-decoration:none;

color:white;

font-weight:600;

box-shadow:0 15px 40px rgba(59,130,246,.3);

transition:.35s;

}

.resume-btn:hover{

transform:translateY(-4px);

}
